@media screen and (max-width: 768px) {
    header {
        width: 100vw;
        height: 96px;
        justify-self: space-between;
    }

    .menu-bar {
        margin-left: -60px;
    }

    .container {
        width: 350px;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 80px auto;
    }

    .container .list ul {
        flex-direction: column;
        /* margin-top: -100px; */
    }

    .container .list ul li {
        padding: 55px;
    }

    .container .list ul li a {
        font-size: 35px;
    }

    .container .buttonss {
        margin-bottom: 100px;
        align-self: center;
    }

    .buttonss button {
        width: 50vw;
    }

    header .nav {
        position: fixed;
        top: 0;
        left: -550px;
        flex-direction: column;
        width: 70%;
        height: 100vh;
        background-color: white;
        transition: 0.6s;
    }

    .rolling {
        width: 100%;
    }

    header .nav.active{
        left: 0;
        transition: 0.9s;
    }

    .mobile-logo {
        display: block;
        margin-right: 50px;
    }

    .btn {
        display: block;
        cursor: pointer;
    }

    .container .logo {
        display: none;
    }

    .close-bar {
        position: absolute;
        top: 25px;
        right: 25px;
    }

    .main-section .equal h1 {
        font-size: 63px !important;
    }
    
    .main-section .equal h1 span{
        color: #474b48;
    }
    
    .main-section .equal p{
        margin-top: 35px;
    }

    .main-div {
        max-width: 650px;
        margin: 0 auto;
    }
    
    .main-section .world .world-1 h1 {
        font-size: 70px;
    }

    #alt-section {
        margin-top: 180px;
        height: 900px;
    }

    .dark .fashion {
        grid-template-columns: 1fr;
        max-width: 570px;
        height: 165px;
        margin: 43px auto;
        justify-content: space-between;
    }

    .note {
        margin-top: 20px;
        text-align: start;
    }
    
    .note h2 {
        font-size: 35px;
        font-weight: 500;
    }
    
    .note p {
        font-size: 17px;
        text-align: start;
        line-height: 1.5;
        margin-top: 20px;
    }

    .scrolls-by {
        display: flex;
        text-align: center;
        justify-content: space-between;
        margin-top: 130px;
        overflow-y: hidden;
    }

    #alt-section-2 {
        margin-top: 64px;
        height: 758px;
    }

    #alt-section-2 .dark .long-card {
        max-width: 600px;
        height: 85%;
        background-color: #ffffff;
        margin: 58px auto;
        border-radius: 17.52px;
        grid-template-columns: 1fr;
        justify-content: space-between;
        grid-gap: 10px;
        position: relative;
        z-index: 2;
        overflow: hidden;
    }

    #alt-section-2 .dark .long-card .tailor {
        margin-top: 30px;
        margin-left: 27px;
        width: 473px;
    }

    #alt-section-2 .dark .long-card .tailor h2{
        font-size: 27px;
    }
    
    #alt-section-2 .dark .long-card .tailor p {
        line-height: 1.3;
        text-align: start;
        font-size: 18px;
        margin-top: 15px;
    }

    #alt-section-2 .dark .long-card .tight {
        /* justify-self: center; */
        align-self: center;
        margin-top: 30px;
        margin-left: 70px;
        height: 300px;
        position: relative;
        overflow-y: hidden;
    }

    #alt-section-2 .dark .long-card .tailor button {
        background-color: #f4f4f4;
        border-radius: 20px;
        height: 84px;
        border: none;
        margin-top: 25px;
        font-size: 24px;
        font-weight: bold;
        color: #000000;
        margin-left: 50px;
    }

    #grid-cards {
        max-width: 650px;
    }
    #grid-cards .g-cards {
        margin-top: 65px;
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 1rem;
    }

    #grid-cards .g-cards #card {
        width: 320px;
        height: 340px;
        border-radius: 10px;
        z-index: -1;
    }
    
    #grid-cards .g-cards #card div {
        width: 240px;
        margin: 46px auto;
    }

    #grid-cards .g-cards #card div p {
        font-size: 14px;
        text-align: start;
    }
    
    #grid-cards .g-cards #card div h1 {
        margin-top: 26px;
        font-size: 29px;
    }
    
    .p2 {
        font-size: 14px;
        line-height: 1.6;
        margin-top: 20px;
    }

    #alt-section-3 {
        margin-top: 100px;
        height: 951px;
    }

    .black .fashion {
        display: flex;
        flex-direction: column;
        max-width: 650px;
        height: 165px;
        margin: 43px auto;
        justify-content: space-between;
    }

    .scrolls-click {
        display: flex;
        justify-content: space-between;
        margin-top: 105px;
        margin-left: -150px;
        overflow: hidden;
        scroll-behavior: smooth;
    }

    #community .black-2 .black-contain {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 0 auto;
    }
    
    #community .black-2 h1 {
        font-size: 95px;
        margin-top: 35px;
    }
    
    #community .black-2 .dis-twi {
        display: flex;
        margin: 15px;
        justify-content: space-between;
    }
    
    #community .black-2 .dis-twi .empty {
        display: none;
    }
    
    #community .black-2 .dis-twi .taken {
        display: flex;
        flex-direction: column;
        width: 520px;
        height: 155px;
        margin-top: -30px;
    }
    
    #community .black-2 .dis-twi .taken p {
        text-align: start;
        margin-top: 45px;
        font-weight: 300;
        font-size: 16px;
        line-height: 1.8;
    }

    #faqs .questions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #faqs .questions .faq-h1 {
        width: 490px;
        font-size: 40px;
    }
    
    #faqs .questions .faq-s {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-top: 35px;
        align-items: center;
    }

    #faqs .questions .faq-h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }

    .quest {
        margin: auto 0;
        height: 102.47px;
        width: 550px;
        padding-top: 33px;
        font-size: 24px;
        display: flex;
        justify-content: space-between;
        line-height: 36px;
        color: #212529;
        border-top: 1px solid #D4D5D4;
    }

    #contact {
        margin-top: 180px;
    }

    #contact .main-contact {
        width: 650px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 679px) {
    .container {
        width: 79%;
    }

    header {
        background-color: rgb(255, 255, 255, 0.7);
        z-index: 4;
        backdrop-filter: blur(9px);
    }

    header .nav {
        position: fixed;
        top: 0;
        left: -550px;
        flex-direction: column;
        width: 85%;
        height: 100vh;
        background-color: white;
        transition: 0.6s;
    }

    .buttonss button {
        width: 100%;
    }

    .main-section .equal h1 {
        font-size: 50px !important;
    }

    .main-div {
        max-width: 450px;
        margin: 0 auto;
    }

    .main-section .world .world-1 {
        width: 380px;
    }

    #alt-section {
        margin-top: 180px;
        height: 900px;
    }

    .main-section .equal p{
        font-size: 16px;
    }

    .main-section .world {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 120px;
    }

    .main-section .world .world-1 {
        width: 360px;
        margin: auto;
    }
    
    .main-section .world .world-1 h1 {
        font-size: 60px;
    }

    .main-section .world .world-2 {
        display: grid;
        text-align: start;
        margin-top: 20px;
        width: 360px;
        margin: auto;
    }
    
    .main-section .world .world-2 h2 {
        font-size: 26px;
    }
    
    .main-section .world .world-2 p {
        font-size: 16px;
    }

    .dark {
        max-width: 360px;
        margin: auto;
    }

    .dark .fashion {
        max-width: 340px;
        height: 165px;
    }

    .note {
        margin-top: 30px;
    }
    
    .note h2 {
        font-size: 30px;
    }
    
    .note p {
        font-size: 16px;
    }

    .scrolls-by {
        margin-top: 150px;
    }

    #alt-section-2 .dark .long-card {
        width: 340px;
        margin: 58px auto;
    }

    #alt-section-2 .dark .long-card .tailor {
        margin: 30px auto;
        width: 310px;
    }

    #alt-section-2 .dark .long-card .tailor h2{
        font-size: 26px;
    }
    
    #alt-section-2 .dark .long-card .tailor p {
        font-size: 14px;
        margin-top: 15px;
    }

    #alt-section-2 .dark .long-card .tight {
        max-width: 310px;
        margin-left: 8px;
        height: 370px;
        position: relative;
        overflow-y: hidden;
    }

    #alt-section-2 .dark .long-card .tight img {
        width: 150.5px;
    }

    #alt-section-2 .dark .long-card .tight .img-1 {
        position: absolute;
        bottom: 65px;
        z-index: 0;
        margin-left: 15px;
    }
    
    #alt-section-2 .dark .long-card .tight .img-2 {
        position: absolute;
        top: -43px;
        margin-left: 155px;
    }

    #alt-section-2 .dark .long-card .tailor button {
        margin-left: 3px;
    }

    #grid-cards {
        max-width: 360px;
        margin: auto;
    }

    #grid-cards .g-cards {
        margin-top: 65px;
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1rem;
    }

    #grid-cards .g-cards #card {
        width: 100%;
        height: 340px;
        border-radius: 10px;
        z-index: -1;
    }
    
    #grid-cards .g-cards #card div {
        width: 320px;
        margin: 46px auto;
    }

    #grid-cards .g-cards #card div p {
        font-size: 14px;
        text-align: start;
    }
    
    #grid-cards .g-cards #card div h1 {
        margin-top: 26px;
        font-size: 29px;
    }
    
    .p2 {
        font-size: 14px;
        line-height: 1.6;
        margin-top: 20px;
    }

    .black {
        max-width: 360px;
        margin: auto;
    }

    .black .fashion {
        display: flex;
        flex-direction: column;
        max-width: 340px;
        height: 165px;
    }

    .black .fashion .star-2 {
        width: 340px;
    }

    .scrolls-click {
        display: flex;
        justify-content: space-between;
        margin-top: 140px;
    }

    .scrolls-click .cards img {
        border-radius: 20px;
        width: 360px;
        height: 370px;
        margin: 5px;
    }

    .arrows {
        margin: 25px;
        margin-right: 15px;
    }

    /* community */

    #community .black-2 {
        max-width: 360px;
        margin: auto;
    }
    #community .black-2 .black-contain {
        max-width: 340px;
    }
    
    #community .black-2 h1 {
        font-size: 63px;
    }
    
    #community .black-2 .dis-twi .taken {
        display: flex;
        width: 340px;
        margin: -30px auto;
    }
    
    #community .black-2 .dis-twi .taken p {
        text-align: start;
        margin-top: 45px;
        font-weight: 300;
        font-size: 15px;
        line-height: 1.8;
    }

    #community .black-2 .dis-twi .socials {
        display: grid;
        justify-content: center;
        margin: auto;
        width: 310px;
    }

    #community .black-2 .dis-twi .socials .button-1 {
        align-self: center;
        width: inherit !important;
    }

    #community .black-2 .dis-twi .socials .button-2 {
       display: none;
    }

    #faqs .questions {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #faqs .questions .faq-s {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin-top: 35px;
        align-items: center;
    }

    #faqs .questions .faq-h1 {
        width: 100%;
    }

    #faqs .questions .faq-h1 h1 {
        font-size: 40px;
    }

    .quest {
        max-width: 360px;
        padding-top: 33px;
    }

    #contact {
        margin-top: 180px;
    }

    #contact .main-contact {
        max-width: 360px;
        margin: 0 auto;
    }

    #community .black-2 .dis-twi .socials button {
        margin: 10px;
        margin-top: 30px;
    }

    #contact .main-contact .contact-content h1 {
        font-size: 35px;
        margin-top: 30px;
    }

    #contact .main-contact .contact-content div {
        display: grid;
        grid-gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    #faqs .questions .faq-s {
        width: 390px;
    }

    #footer .main-footer {
       display: grid;
       grid-template-columns: auto;
       justify-content: center;
       grid-gap: 40px;
       max-width: 360px;
       margin: auto;
    }

    #footer .main-footer .icons {
        margin: auto;
    }
}